name: Deploy to Azure VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Deploy using SSH and SCP
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        port: 22
        script: |
          sudo fuser -k 80/tcp || true
          mkdir -p app

    - name: Copy Files to VM
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        source: "main.py,requirements.txt"
        target: "app"

    - name: Install and Run
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          cd app
          sudo pip3 install -r requirements.txt
          nohup sudo python3 main.py > output.log 2>&1 &
